# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos gerados pelo Prisma (caso existam)
generated/
# ou
/generated/prisma

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# VS Code 
.vscode/